#active-game {
  text-align: center;
  margin: 2rem 0 5rem 0;
  display: none;
}

#game-over {
  position: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40rem;
  margin: auto;
  width: 90%;
  padding: 1rem 2rem;
  background-color: #454444;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: none;
}

#game-over h1 {
  font-size: 3rem;
  margin: 0.5rem 0;
}

#player-turn {
  font-weight: bold;
  color: whitesmoke;
}

#game-board {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  justify-content: center;
  gap: 0.5rem;
}

#game-board li {
  background-color: #454444;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#game-board li:hover {
  background-color: #ff7373;
}

#game-board li.chosen {
  background-color: #ff3434;
  cursor: default;
}
